apiVersion: config.porch.kpt.dev/v1alpha1
kind: Repository
metadata:
  name: nephio-packages
  namespace: default
  labels:
    kpt.dev/repository-content: external-blueprints
spec:
  content: Package
  deployment: false
  git:
    branch: main
    directory: /
    repo: https://github.com/nephio-project/nephio-packages.git
  type: git