{% for niName, ni in networkInstances.items() %}
---
apiVersion: ipam.nephio.org/v1alpha1
kind: NetworkInstance
metadata:
  name: {{ niName }}
spec:
  prefixes:
{% for prefix in ni['prefixes'] %}
  - prefix: {{prefix['prefix']}}
    labels:
      nephio.org/purpose: {{prefix['purpose']}}
{% endfor %}
{% endfor %}

{% for clusterName, cluster in clusters.items() %}
{% set outer_loop = loop %}
{% for niName, ni in networkInstances.items() %}
{% for prefix in ni['prefixes'] %}
{% if prefix['purpose'] == 'endpoint' %}
---
apiVersion: ipam.nephio.org/v1alpha1
kind: IPPrefix
metadata:
  name: {{clusterName}}-{{niName}}
spec:
  prefix: "{{prefix['prefix'].split(".")[0]}}.{{prefix['prefix'].split(".")[1]}}.{{outer_loop.index}}.1/24"
  networkInstanceRef: 
    name: {{ niName }}
    namespace: default
  labels:
    nephio.org/gateway: "true"
    nephio.org/purpose: {{prefix['purpose']}}
    nephio.org/region: us-central1
    nephio.org/site: {{ clusterName }}
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}