- hosts: vm
  environment:
    http_proxy: "{{proxy.http_proxy}}"
    https_proxy: "{{proxy.https_proxy}}"
    no_proxy: "{{proxy.no_proxy}}"
  roles:
    - { role: cluster/deploy, tags: cluster_deploy }
    - { role: topo/deploy, tags: topo_deploy }
    - { role: multus, tags: multus }
    - { role: nephio/deploy, tags: nephio }
    
