apiVersion: configsync.gke.io/v1beta1
kind: RootSync
metadata: # kpt-merge: config-management-system/nephio-mgmt-cluster-sync
  name: repo-{{ item.key }}-sync
  namespace: config-management-system
  annotations:
    config.kubernetes.io/depends-on: apiextensions.k8s.io/CustomResourceDefinition/rootsyncs.configsync.gke.io
    internal.kpt.dev/upstream-identifier: 'configsync.gke.io|RootSync|config-management-system|nephio-mgmt-cluster-sync'
spec:
  sourceFormat: unstructured
  git:
    repo: {{github_repo}}
    branch: main
    auth: token
    secretRef:
      name: github-personal-access-token