apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nephio-ingress
  namespace: nephio-webui
spec:
  rules:
  - http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: nephio-webui
            port:
              number: 7007
