name: nephio-topology
topology:
  kinds:
    srl:
      type: ixrd3
      image: ghcr.io/nokia/srlinux
  nodes:
    srl:
      kind: srl
{% for dict_item in clusters %}
    {{dict_item}}-control-plane:
       kind: ext-container
{% endfor %}
  links:
{% for dict_item in clusters %}
    - endpoints: ["srl:e1-{{ loop.index }}", "{{dict_item}}-control-plane:eth1"]
{% endfor %}