name: nephio-topology
topology:
  kinds:
    srl:
      type: ixrd3
      image: ghcr.io/nokia/srlinux
  nodes:
    srl:
      kind: srl
{% for clusterName, cluster in clusters.items() %}
    {{clusterName}}-control-plane:
       kind: ext-container
{% endfor %}
  links:
{% for clusterName, cluster in clusters.items() %}
{% set outer_loop = loop %}
{% for niName, ni in networkInstances.items() %}
    - endpoints: ["srl:e1-{{ 2 + loop.index + ((outer_loop.index -1) * (networkInstances | length)) }}", "{{clusterName}}-control-plane:eth{{ loop.index }}"]
{% endfor %}
{% endfor %}